.p-5 {
    padding: 2rem 5rem !important;
}

.mx-5 {
    margin-right: 15rem !important;
    margin-left: 15rem !important;
}

.icon_signup {
    font-size: 1rem;
    color: #3566b6;
    margin-right: 3rem;
}

#icon_signup {
    margin-right: 0;
}