.navbar {
    background-color: #39e5fc;
    // background-color: #FFC1C1;
    height: 5vh;
    line-height: 7vh;
    width: 100%;
    justify-content: start;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 25px;
    border-radius: 0 0 5px 5px;
    box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.25);

    .navbar_icon {
        margin-left: 5%;
        margin-right: 1%;
        font-size: 18px;
    }

    .navbar_text {
        // font-family: 'Inter';
        font-family: 'Space Grotesk', Helvetica, Arial, sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        color: #363431;
        // color: #FFF;
        text-decoration: none;
    }

    #HiPencilSquare {
        margin-left: 0;
    }

    a.active {
        color: #1900ff;
        font-weight: 600;
    }
}